:root {
    --border-color: #ddc7a1;
    --border-color-active: #a9b665;
    --bg-color: #282828;
    --bg-color-hover: #1b1b1b;
    --index-border-color: #7daea3;
    --border-radius: 5px;
    --border-size: 2px;
}

.client-image {
    margin: 15px;
}

.workspace {
	border-color: transparent;
	margin: 20px;
}
